<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<meta th:charset="UTF-8">

<head>
<title>Cadastro de Clientes</title>

<meta name="viewport"
	content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=10, minimum-scale=1.0">
<meta th:charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/estilogeral.css}" />
<link rel="icon" th:href="@{/imagens/favicon64.png}">



<style>
td, th, thead, tr {
	border: 2px solid #DCDCDC;
}
</style>


</head>

<body>

	<section class="linha-centro-larga"
		style="margin-bottom: 0px; padding: 0px;">
		<h1>ALEXANDRE CAMELO</h1>
		<img th:src=@{/imagens/menu_princ_menor.png} />

	</section>

	<!-- 	<script src="/webjars/jquery/3.5.1/jquery.min.js"></script> -->
	<!--  	<script src="/js/jquery.mask.min.js"></script> -->
	<!-- 	<script src="/js/cadCliForn.js"></script>   -->
	<!-- 	<script src="/js/cadCliFornAtalhos.js"></script>   -->
	<!-- 	<script src="/webjars/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->

	<script th:src="@{/js/jquery-3.5.1.min.js}"></script>
	<script th:src="@{/js/jquery.mask.min.js}"></script>
	<script th:src="@{/js/cadCliForn.js}"></script>
	<script th:src="@{/js/cadCliFornAtalhos.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/mensagens.js}"></script>




	<!--	 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script> -->





	<!-- EVITA O USO DO BOTÃO DIREITO DO MOUSE, PARA IMPEDIR QUE O USUÁRIO ABRA OUTRAS ABAS OU JANELAS, A PARTIR DOS LINKS,
	POIS, SE ELE FIZER ISSO, PODERÁ CONFUNDIR AS VARIÁVEIS GUARDADAS NO LOCALSTORAGE-->
	<script>
	document.addEventListener('contextmenu', event => event.preventDefault());
</script>



</body>
</html>





















